body {
	margin: 0;
	font-family: 'Inter', sans-serif;
}

/* Nav Bar */
ul {
	top: 0px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	position: fixed;
	list-style-type: none;
	background-color: #333;
}

li {
	float: left;
}

li a {
	color: white;
	display: flex;
	font-size: 20px;
	padding: 14px 20px;
	text-align: center;
	align-items: center;
	text-decoration: none;
}

li a img {
	width: 25px;
	height: 25px;
	padding-left: 5px;
	padding-right: 10px;
}

li a:hover {
	background-color: #1a1aff;
}

/* Contact */
.Contact {
	width: 100%;
	bottom: 52px;
	color: white;
	position: fixed;
	text-align: center;
	align-items: center;
	background-color: #111;
}

#SocialMedia {
	width: 50px;
	height: 50px;
	padding: 10px 20px;
}

/* Footer */
.Footer {
	bottom: 0px;
	width: 100%;
	color: white;
	position: fixed;
	text-align: center;
	background-color: #333;
}