/* Webpage Style */
html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	color: white;
	hyphens: auto;
	text-align: center;
	align-items: center;
	word-spacing: 0.01em;
	letter-spacing: normal;
	font-family: 'Inter', sans-serif;
}

/* Nav Bar Style */
ul.NavBar {
	top: 0;
	width: 100%;
	margin: 0px;
	padding: 0px;
	z-index: 1000;
	display: flex;
	position: fixed;
	list-style-type: none;
	background-color: #1a1a1a;
	justify-content: space-between;
}
ul.NavBar li a {
	color: white;
	display: flex;
	font-size: 20px;
	padding: 10px 20px;
	text-align: center;
	align-items: center;
	text-decoration: none;
}
ul.NavBar li a img {
	width: 25px;
	height: 25px;
	padding-left: 5px;
	padding-right: 10px;
}
ul.NavBar li a:hover {
	background-color: #0000cc;
}
ul.NavBar li.Icon {
	display: none;
	margin-top: 0;
}

/* Nav Bar Alignment */
ul.NavBar .LeftMenu {
	display: flex;
	padding-left: 10%;
}
ul.NavBar .RightMenu {
	display: flex;
	margin-left: auto;
	padding-right: 10%;
}

/* Nav Bar Function */
@media screen and (max-width: 700px) {
	ul.NavBar li.Icon {
		margin: 0;
		right: 10%;
		width: 44px;
		height: 44px;
		display: flex;
		position: absolute;
	}
	ul.NavBar .RightMenu {
		left: 0;
		top: 40px;
		width: 100%;
		max-height: 0;
		display: flex;
		overflow: hidden;
		position: absolute;
		flex-direction: column;
		background-color: #1a1a1a;
		transition: max-height 0.4s ease-out;
	}
	ul.NavBar.Responsive .RightMenu {
		max-height: 500px;
		overflow: visible;
	}
	ul.NavBar.Responsive .RightMenu li a {
		padding: 10px 0px;
		text-align: left;
	}
	ul.NavBar.Responsive .RightMenu li a img {
		padding-left: 5%;
		padding-right: 15px;
	}
}

/* Portfolio Content Layout */
div.PortfolioContent {
	background-color: #333333;
}

div.SectionHeader span.SectionTitle {
	color: #0000cc;
	font-size: 40px;
}
div.SectionHeader hr.SectionDivider {
	width: 75%;
	border-radius: 3px;
	border: 2px solid #0000cc;
}
div.SectionContent {
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 5%;
	text-align: justify;
}

/* My Introduction */
#Introduction {
	padding-left: 10%;
	padding-right: 10%;
}

/* Contact/Socal Media Section */
.SectionContact {
	padding-bottom: 10px;
}
.SectionContact img {
	width: 50px;
	height: 50px;
	padding: 10px 20px;
}

/* Footer Section */
div.Footer {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #1a1a1a;
}