html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Inter', sans-serif;
}

/* Nav Bar */
ul.NavBar {
	top: 0px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	position: fixed;
	list-style-type: none;
	background-color: #333;
}

ul.NavBar li {
	float: left;
}

ul.NavBar li a {
	color: white;
	display: flex;
	font-size: 20px;
	padding: 14px 20px;
	text-align: center;
	align-items: center;
	text-decoration: none;
}

ul.NavBar li a img {
	width: 25px;
	height: 25px;
	padding-left: 5px;
	padding-right: 10px;
}

ul.NavBar li a:hover {
	background-color: #111;
}

ul.NavBar li.Icon {
	display: none;
}

@media screen and (max-width: 700px) {
    ul.NavBar li:not(:first-child) {
		display: none;
	}
    ul.NavBar li.Icon {
        float: right;
        display: inline-block;
    }
	ul.NavBar.responsive li {
		float: none;
		display: block;
		text-align: left;
	}
	ul.NavBar.Responsive li:not(:first-child) {
		display: block;
	}
}

@media screen and (max-width: 700px) {
    ul.NavBar.Responsive {position: relative;}
    ul.NavBar.Responsive li.Icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	ul.NavBar.Responsive li {
		float: none;
		display: block;
		text-align: left;
	}
}

/* Contact */
.Contact {
	width: 100%;
	bottom: 50px;
	color: white;
	position: fixed;
	text-align: center;
	align-items: center;
	padding-bottom: 5px;
	background-color: #111;
}

#SocialMedia {
	width: 50px;
	height: 50px;
	padding: 10px 20px;
}

/* Footer */
.Footer {
	bottom: 0px;
	width: 100%;
	color: white;
	position: fixed;
	text-align: center;
	background-color: #333;
}